@media screen and (max-width: 480px) {
  body {
    width: 100%;
    overflow-x: hidden;
  }
  header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 200px;
  }
  .open,
  .close {
    font-size: 30px;
    color: #fff;
    /* background-color: #fff; */
    display: none;
  }
  .close {
    color: red;
    font-size: 46px;
    display: block;
  }
  nav {
    position: absolute;
    top: 100px;
    height: 50vh;
  }
  .navList {
    display: flex;
    flex-direction: column;
  }
  footer {
    gap: 1rem;
    padding: 0 0 0 0px;
    font-size: 16px;
    justify-content: center;
  }
  .bio {
    display: flex;
  }
  main {
    flex-direction: column;
    justify-content: flex-start;
  }
  .bio-text {
    flex-direction: column;
    justify-content: flex-end;
  }
  .content {
    top: 600px;
    justify-self: center;
    background-color: transparent;
  }
  .content h3 {
    background-color: transparent;
  }
  .content h1 {
    background-color: transparent;
  }
  .content h4 {
    background-color: transparent;
  }
  .content span {
    background-color: transparent;
  }
  .main {
    display: flex;
    flex-direction: column;
  }
  .bio-text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .bio img {
    width: 100%;
  }
  .bio-text h2 {
    background-color: transparent;
    font-size: 64px;
    padding: 15px;
  }
  .bio-text span {
    background-color: transparent;
    font-size: 64px;
    padding: 15px;
  }
  .bio-text p {
    padding: 10px;
    font-style: normal;
  }
  /*CAreer page*/
  .career-text h3 {
    font-size: 50px;
    text-align: center;
  }
  .career-text h3 span {
    font-size: 50px;
  }
  .career-text {
    text-align: left;
    padding: 20px;
  }
  /*services page*/
  .services-area .services-title h1 {
    font-size: 35px;
    text-align: center;
    padding-top: 20px;
  }
  .services-area .services-title p {
    font-size: 18px;
    text-align: center;
  }
  .container {
    justify-content: center;
  }
  .col-lg-3 {
    justify-content: center;
  }
  .row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: #1e1e1e;
  }
  /*portfolio page*/
  .rowgrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 30px;
    padding-left: 0;
    padding-right: 0;
  }
  .img {
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 20px;
  }
  .text-uppercase1 {
    font-size: 35px;
    text-align: center;
  }
  .text-uppercase2 {
    font-size: 30px;
    text-align: center;
  }
  .text-secondary {
    padding: 20px;
  }
  .text-uppercase {
    padding: 20px;
  }
  .project-area {
    width: 100%;
  }
}
