* {
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
.hero{
    height:150vh;
    width:100%;
    background-image: url('mainpicture.jpg.JPG');
    background-size:cover;
    background-position: center;
}
nav{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #f9004d;}
    nav ul li{
        list-style-type: none;
display: inline-block;
padding: 10px 25px;
    }
    nav ul li a{
        color:white;
        text-decoration: none;
        font-weight:bold ;
        text-transform: capitalize;
    }
    nav ul li a:hover{
    color: red;
        transition: .4s; }
.content{
  position: absolute;  
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color:white;
}
h1{
   color: white;
    margin: 20px 0px 20px;
    font-size: 50px;
}
h3{
    color:white;
    font-size:25px;
    margin-bottom:50px;
}
.bio{
    width:100%;
    padding: 100px 0px;
    background-color: #191919;
}
.bio img{
height:auto;
width: 430px;
}
.bio-text{
width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
justify-content:space-around;
}
.bio-text h2{
color: #f9004d;
font-size:75px;
text-transform: capitalize;
margin-bottom: 20px;
}
.bio-text{
    color:#fff;
    letter-spacing: 1px;
    line-height:28px;
    font-size:18px;
    margin-bottom:45px;
}
.bio-text span{
    color: #fff;
    font-size:75px;
text-transform: capitalize;
margin-bottom: 20px;
}
.weird{
    height:150vh;
    width:100%;
    background-image: url('MOL_7336\ 2.JPG');
    background-size:cover;
    background-position:top;
}
}