* {
    background-color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;}
.hero{
   height:150vh; 
    width:100%;
    background-image: url('mainpicture.jpg.JPG');
    background-size:cover;
    background-position: center;
}
nav{
    display:flex;
    align-items: center;
    justify-content:space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
    position: sticky;
    top: 0;
    z-index: 3;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;
}
span{
    color: #0069d9;}
    nav ul li{
        list-style-type: none;
display: inline-block;
padding: 10px 25px;
    }
    nav ul li a{
        color:white;
        text-decoration: none;
        font-weight:bold ;
        text-transform: capitalize;
    }
    nav ul li a:hover{
    color: rgb(74, 74, 170);
        transition: .4s; }
.content{
  position: absolute;  
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  color:white;
}
h1{
   color: white;
    margin: 20px 0px 20px;
    font-size: 50px;
}
h3{
    color:white;
    font-size:25px;
    margin-bottom:50px;
}
.bio{
    width:100%;
    padding: 100px 0px;
    background-color: #191919;
}
.bio img{
height:auto;
width: 430px;
}
.bio-text{
width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
justify-content:space-around;
}
.bio-text h2{
color: #0069d9;
font-size:75px;
text-transform: capitalize;
margin-bottom: 20px;
}
.bio-text{
    color:#fff;
    letter-spacing: 1px;
    line-height:28px;
    font-size:18px;
    margin-bottom:45px;
}
.bio-text span{
    color: #fff;
    font-size:75px;
text-transform: capitalize;
margin-bottom: 20px;
}
.where{
    width:auto;
    height: 50%;
    background-image: url('MOL_7336\ 2.JPG');
    background-size: cover;
    background-position:center;
}

    
    .born{
        width: 1130px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        align-items: center;
    justify-content:space-around;
    }
    .happy{
        width:100%;
        padding: 100px 0px;
        background-color: #191919;
    }
    .happy img{
    height:auto;
    width: 50%;
    justify-content: top;
    display: flex;
    flex-wrap: wrap;
    }
    .career-text{
    width: 550px;

    }
    .career-text h3{
        color: white;
        font-size:75px;
        text-transform: capitalize;
        margin-bottom: 20px;
        text-decoration: underline;
        }
        .career-text{
            color:#fff;
            letter-spacing: 1px;
            line-height:28px;
            font-size:18px;
            margin-bottom:45px;
        }
        .career-text h3 span{
            color:#0069d9;
            background-color: transparent;
            font-size:75px;
        text-transform: capitalize;
        margin-bottom: 20px;
        text-decoration: underline;
        }
        .career-text p{
            display: flex;
            flex-wrap: wrap;
        }

        .woe{
            width: 100%;
            height:fit-content;
background-image: url(MOL_7336\ 2.JPG);
justify-content: space-around;
border-width:5px;
border-color: aqua;
        }

.flex{
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .woe{
    z-index: 3;
  }
  .writeup{
    z-index:1;
    left: 55px;
    right:55px;
  }
  .writeup p{
    color:#fff;
    letter-spacing: 1px;
    line-height:28px;
    font-size:18px;
    margin-bottom:45px;
  }
  .writeup h3{
    color: white;
    font-size:75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-decoration: underline;
    }
    .writeup span{
        color:#0069d9;
        background-color: transparent;
        font-size:75px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-decoration: underline;
    }
  footer{
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 3rem;
    color:#fff;
    font-size:32px;
}
/*SERVICE SECTION START*/
/* Services Area */ 
.services-area{
    background-color: #000;}

.site-main .services-area{
padding: 7rem 2rem;
}

.site-main .services-area .services-title{
padding: 0 14rem;
color: #fff;
}

.site-main .services-area .services-title h1{
font-size: 35px;
}
.text-uppercase title-text{
color: #fff;
}


.site-main > .services-area .services{
background: rgba(248, 252, 253, 0.973);
padding: 2rem 0;
width: 16rem;
margin: 5rem .5rem;
transition: box-shadow .7s ease;
}

.site-main > .services-area .services:hover{
box-shadow: var(--box-shadow);
}
.rowgrid{
    display: grid;
    grid-template-columns:repeat(3,1fr) ;
    column-gap: 15px;
    row-gap: 20px;
}
card-title text-uppercase font-roboto